.about-us 
    .about-us__hero 
        .about-us__left
            .about-us__left-container
                +img('content/about-us/about-us-hero-big','jpg','about-us__hero') 
            //- +img('content/about-us/about-us-trifle1','png','about-us__trifle1')
            .about-us__trifle.about-us__trifle1 
            .about-us__trifle.about-us__trifle2
            .about-us__trifle.about-us__trifle3
            
            //- +img('content/about-us/about-us-trifle2','png','about-us__trifle2')
            //- +img('content/about-us/about-us-trifle3','png','about-us__trifle3')

        .about-us__right
            .about-us__quotes 
            .about-us__right-info 
                p.about-us__right-text Главная цель нашего стартапа - стабильный доход для каждого человека на планете. Мы создаем UBER в мире наружной рекламы, который позволяет любому человеку за пару минут совершить регистрацию и сделать свою жизнь более комфортной вместе с WAADSU.
                p.about-us__right-text Создавать что-то значимое всегда волнительно. Но так как жизнь у нас одна, нам очень важно, кто нас окружает на этом пути.
    .about-us__team
        .custom-wrapper
            .about-us__team-content
                h2.default__title.about-us__team-title Наша команда
                p.about-us__team-subtitle Огромное удовольствие создавать и творить рядом с такими разными и уникальными личностями, высочайшими экспертами в своей области.
                ul.about-us__team-list
                    li.about-us__team-item
                        .about__team-item__top 
                            +img('content/about-us/about-us-team1','png','about-us-team')
                        .about__team-item__bottom 
                            span.about__team-item__name Gorokh Alexandr 
                            span.about__team-item__post CEO
                    li.about-us__team-item
                        .about__team-item__top 
                            +img('content/about-us/about-us-team2','png','about-us-team')
                        .about__team-item__bottom 
                            span.about__team-item__name Gorokh Alexandr 
                            span.about__team-item__post Head of Project Management
                    li.about-us__team-item
                        .about__team-item__top 
                            +img('content/about-us/about-us-team3','png','about-us-team')
                        .about__team-item__bottom 
                            span.about__team-item__name Gorokh Alexandr 
                            span.about__team-item__post CEO
                    li.about-us__team-item
                        .about__team-item__top 
                            +img('content/about-us/about-us-team4','png','about-us-team')
                        .about__team-item__bottom 
                            span.about__team-item__name Gorokh Alexandr 
                            span.about__team-item__post Head of Project Management
                    li.about-us__team-item
                        .about__team-item__top 
                            +img('content/about-us/about-us-team1','png','about-us-team')
                        .about__team-item__bottom 
                            span.about__team-item__name Gorokh Alexandr 
                            span.about__team-item__post CEO
                    li.about-us__team-item
                        .about__team-item__top 
                            +img('content/about-us/about-us-team2','png','about-us-team')
                        .about__team-item__bottom 
                            span.about__team-item__name Gorokh Alexandr 
                            span.about__team-item__post Head of Project Management
                    li.about-us__team-item
                        .about__team-item__top 
                            +img('content/about-us/about-us-team3','png','about-us-team')
                        .about__team-item__bottom 
                            span.about__team-item__name Gorokh Alexandr 
                            span.about__team-item__post CEO

                    li.about-us__team-item
                        .about__team-item__top 
                            +img('content/about-us/about-us-team4','png','about-us-team')
                        .about__team-item__bottom 
                            span.about__team-item__name Gorokh Alexandr 
                            span.about__team-item__post Head of Project Management

                    li.about-us__team-item
                        .about__team-item__top 
                            +img('content/about-us/about-us-team1','png','about-us-team')
                        .about__team-item__bottom 
                            span.about__team-item__name Gorokh Alexandr 
                            span.about__team-item__post CEO
                    li.about-us__team-item
                        .about__team-item__top 
                            +img('content/about-us/about-us-team2','png','about-us-team')
                        .about__team-item__bottom 
                            span.about__team-item__name Gorokh Alexandr 
                            span.about__team-item__post Head of Project Management
                    li.about-us__team-item.about-us__team_empty
                        .about__team-item__top 
                            +icon('about-us-team-empty')
                        .about__team-item__bottom 
                            span.about__team-item__name Gorokh Alexandr 
                            span.about__team-item__post CEO
                    li.about-us__team-item.about-us__team_empty
                        .about__team-item__top 
                            +icon('about-us-team-empty')
                        .about__team-item__bottom 
                            span.about__team-item__name Gorokh Alexandr 
                            span.about__team-item__post Head of Project Management
